<html>
    <head>
    </head>
    <body>
        <form action="./getlogin" method="get">
            <span>
                user id:
            </span>
            <input type="text" name="uid"/>
            <span>
                password:
            </span>
            <input type="password" name="password"/>
            <input type="submit" value="submit by get"/>
        </form>
        <br/>
        <form action="./postlogin" method="post">
            <span>
                user id:
            </span>
            <input type="text" name="uid"/>
            <span>
                password:
            </span>
            <input type="password" name="password"/>
            <input type="submit" value="submit by post"/>
        </form>
    </body>
</html>